<div class="using">
  <div class="image-placeholder"></div>
  <div class="blocks">
    <h3><%= link_to user.name, user_path(user) %></h3>
    <p>Number of posts: <%= user.posts.count %></p>
  </div>
</div>
