<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Language" content="en-us">
  <title>Library Info System</title>
  <%= stylesheet_link_tag "application" %>
</head>
<body id="library">
  <header>
    <h1>Blog App powered by Ruby on Rails</h1>
  </header>
  <main>
    <%= yield %>
  </main>
</body>
</html>
